:root {
    --azure: #F2FDFF;
    --oxford-blue: #101935;
    --tiffany-blue: #9AD4D6;
    --heading-font: "Open Sans", sans-serif;
    --text-font: "Prata", serif;
}

/* Basic reset and general styles */
body {
    font-family: var(--text-font);
    margin: 0;
    padding: 0;
    background-color: var(--azure);
    color: var(--oxford-blue);
}

header {
    background-color: var(--oxford-blue);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flag-container {
    display: flex;
    align-items: center;
}

.flag-container img {
    max-height: 80px;
    margin-right: 1rem;
}

.flag-container h1 {
    font-family: var(--heading-font);
    color: var(--azure);
}

nav button {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--azure);
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 30; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: var(--tiffany-blue);
    transition: max-height 0.3s ease, opacity 0.3s ease;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

nav ul.open {
    display: flex;
    max-height: 500px; 
    opacity: 1;
}

nav ul li a {
    display: block;
    padding: 0.75rem 1rem;
    text-decoration: none;
    color: var(--oxford-blue);
    font-family: var(--heading-font);
}

nav ul li a:hover {
    background-color: var(--azure);
}

nav ul li.active a {
    font-weight: bold;
    color: var(--azure);
    background-color: var(--oxford-blue);
}

main {
    padding: 1rem;
    font-family: var(--text-font);
}

footer {
    background-color: var(--oxford-blue);
    color: var(--azure);
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
    font-family: var(--heading-font);
}

/* Responsive navigation for smaller screens */
@media (max-width: 768px) {
    nav ul {
        display: flex; /* para permitir a transição */
        flex-direction: column;
        width: 100%;
        background-color: var(--tiffany-blue);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
    }

    nav ul.open {
        max-height: 500px;
        opacity: 1;
    }

    nav button {
        display: block;
        z-index: 30;
    }

    .flag-container h1 {
        font-size: 1.2rem;
    }
}